
.title{
  text-justify: center;
  text-align: center;
  font-size: 3vw;
  margin: 0vw 0vw 2vw 0vw;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#tweet-quote{
  
  text-align: center;
  
}
#new-quote{

  text-align: center;
  
}
